div {
  padding: 30px;
}
h2{
  padding-top: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, button {
  margin-bottom: 10px;
}
.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: rgb(255 234 164) 2px solid;
  border-radius: 8px;
  height: 100%;
  background: rgb(255 234 164);
  text-align: center;
}
