.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  margin-top: 20px;
}

.custom-card {
  border: 2px solid black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  transition: transform 0.3s ease;
}

.custom-card:hover {
  transform: scale(1.1);
}
