<h1>What is AI?</h1>
<p>AI stands for Artificial Intelligence.<br>
  It is a field of computer science that focuses on creating machines that can perform tasks that typically require human intelligence, such as visual perception, speech recognition, decision-making, and language translation.<br>
  AI systems can be trained to learn from data and improve their performance over time.<br>
  There are various techniques used in AI, including machine learning, deep learning, natural language processing, and computer vision<br>
  AI has many applications in industries such as healthcare, finance, transportation, and entertainment.</p>
<h1>What is ML?</h1>
<p>ML stands for Machine Learning.<br>
  It is a subset of AI that involves training machines to learn from data, without being explicitly programmed.<br>
  In other words, ML algorithms can automatically improve their performance on a specific task by learning from examples.<br>
  There are three main types of ML: supervised learning, unsupervised learning, and reinforcement learning.<br>
  Supervised learning involves training a model on labeled data, while unsupervised learning involves finding patterns in unlabeled data.<br>
  Reinforcement learning involves training a model to make decisions based on rewards and punishments.<br>
  ML has many applications, including image recognition, natural language processing, and predictive analytics.</p>
